#li {
  position: relative;
  background-color: #000000;
  list-style:none;
  margin:2px;
  padding:2px;
  border:1px solid#eaeaea;
  width: 75%;
}

#a:link {color:white;}

#a:visited {color:white;}

#a:active {color:blue;}

#a {
  text-decoration: none
}

section {
  overflow: auto;
  padding-bottom: 60px;
  /* Definimos un padding superior */
  padding-top:60px;
}

#container {
  min-height:100%;
  position:relative;
}
#body {
  min-height:100%;
  font-family: Sans-serif
}
#footer {
  position: relative;
  margin-top: -50px;
  height: 40px;
  padding:5px 0px;
  clear: both;
  text-align: center
}

#body #content {
  position: absolute;
  top: 150px;
  left: 150px;
  right: 150px;
  background-color: rgba(0,0,0,0.5);
}

#body #content #text {
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px
}

#body #left {
  position: absolute;
  left:0;
  width: 150px;
  background-color: rgba(0,0,0,0.25);
}
#body #right {
  position: absolute;
  right:0;
  width: 150px;
  background-color: rgba(0,0,0,0.25);
}

#body #left #li {
  position: relative;
  left: 0
}
#body #right #li {
  position: relative;
  left: 18%
}

h1 {
  position: relative;
  width:50%;
  background-color: rgba(234,234,234,0.5);

}

* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #3ead47;
}
.contenido {
  padding-top: 80px;
}

.define {
  width:960px;
  margin:0 auto;
}
