strong { 
	font-family: "arial";
	color: #007bff; 
}

td.game_1 {
	background-color: #dddddd;
}

td.game_2 {
	background-color: #ffffff;
}

body {
	font-family: "helvetica";
	background: url(https://raulgilabert.github.io/assets/alien_1.gif);
	background-size:111px 85px
}

button {
	font-family: "arial black";
}

ul.redirects{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 325px
}

ul.redirects li {
	background: #008781;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 30px solid grey
}

ul.redirects a {
	text-decoration: none
}

table.games{
	width:100%;
    border-style: outset;
    border-color: #000000;
    border-width: 1px;
}

table.yellow{
    border-style: outset;
    border-color: #000000;
    border-width: 1px;
    background-color: yellow
}

table.main {
    border-style: outset;
    border-color: #000000;
    border-width: 1px;
}

table[Attributes Style] {
    width: 100%;
    border-spacing: 0px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
    table-layout: fixed;
}

div.nav {
	background-color: #84e1ad; 
	width:15%; height:170px; 
	position:absolute
}

th {
	color: #452400;
	font-family: "sans serif"
	font-size-adjust: 0.75;
	background-color: white
}

td {
	background-color: white
}

ul.data button {
	background-color: orange;
	color:black;
}

ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 1em;
	left: 1em;
	width: 80% }

ul.navbar li {
	background: #8aed00;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 5px solid black;
	border-left: 5px solid black;
	border-top: 3px solid black;
	border-bottom: 3px solid black
	 }

ul.navbar a {
	text-decoration: all }

a:link {
	color: blue }

a:visited {
	color: purple }

address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted }